.threeitems-description {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.desktop-threeitems-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
}

.desktop-threeitems-description .item1,
.desktop-threeitems-description .item2,
.desktop-threeitems-description .item3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    --bg: rgba(58, 58, 58, 0.313);
    --text: #e5e5e5;
    background: var(--bg);
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content;
    padding: 30px 30px;
}

.desktop-threeitems-description h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: left;
    color: white;
}

.desktop-threeitems-description p {
    color: rgba(214, 214, 214, 0.7);
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 0px;
}

.threeitems-description img {
    width: 40px;
    height: auto;
    background-color: rgba(166, 166, 166, 0.117);
    border-radius: 6px;
    padding: 6px 6px;
}

@media (max-width: 1250px) {
    .desktop-threeitems-description {
        margin-top: 20px;
        max-width: 90%;
        padding: 0px 1vw;
    }

    .desktop-threeitems-description .item1,
    .desktop-threeitems-description .item2,
    .desktop-threeitems-description .item3 {
        padding: 20px 20px;
    }
    
    .desktop-threeitems-description h1 {
        font-size: 1.3rem;
    }

    .desktop-threeitems-description p {
        font-size: 0.95rem;
        line-height: 1.4;
    }

    .threeitems-description img {
        width: 35px;
        height: auto;
        border-radius: 6px;
        padding: 5px 5px;
    }
}

@media (max-width: 900px) {
    .desktop-threeitems-description {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    
    .desktop-threeitems-description .item1,
    .desktop-threeitems-description .item2,
    .desktop-threeitems-description .item3 {
        width: 90%;
    }
    
    .desktop-threeitems-description h1 {
        font-size: 1.2rem;
        margin-top: 7px;
        margin-bottom: 0px;
        text-align: left;
        color: white;
    }

    .desktop-threeitems-description p {
        font-size: 0.9rem;
        margin-top: 7px;
        line-height: 1.6;
        text-align: left;
        margin-bottom: 0px;
    }

    .threeitems-description img {
        width: 30px;
        height: auto;
        border-radius: 6px;
        padding: 6px 6px;
    }
}