.threeitems-description {
    display: flex;
    justify-content: center;
    padding: 0px 10vw;
    margin-bottom: 0px;
}

.desktop-threeitems-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
}

.desktop-threeitems-description .item1,
.desktop-threeitems-description .item2,
.desktop-threeitems-description .item3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    --bg: rgba(255, 255, 255, 0.06);
    --text: #e5e5e5;
    background: var(--bg);
    border-radius: 1rem;
    backdrop-filter: blur(12px);
    box-shadow:
        inset 1px 1px 4px rgba(255, 255, 255, 0.2),
        inset -1px -1px 6px rgba(0, 0, 0, 0.3),
        0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: fit-content;
    padding: 30px 30px;
    transition: all 0.3s ease-in-out;
}

.desktop-threeitems-description h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: left;
    color: white;
}

.desktop-threeitems-description p {
    color: rgba(214, 214, 214, 0.7);
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 0px;
}

.threeitems-description img {
    width: 40px;
    height: auto;
    background-color: rgba(166, 166, 166, 0.117);
    border-radius: 6px;
    padding: 6px 6px;
}

@media (max-width: 1200px) {
    .desktop-threeitems-description .item1,
    .desktop-threeitems-description .item2,
    .desktop-threeitems-description .item3 {
        padding: 25px 20px;
    }
    
    .desktop-threeitems-description h1 {
        font-size: 1.3rem;
    }

    .desktop-threeitems-description p {
        font-size: 0.95rem;
        line-height: 1.4;
    }

    .threeitems-description img {
        width: 35px;
        height: auto;
        border-radius: 6px;
        padding: 5px 5px;
    }
}

@media (max-width: 1100px) {
    .desktop-threeitems-description {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .desktop-threeitems-description {
        flex-direction: column;
        margin-top: 20px;
    }
    
    .desktop-threeitems-description .item1,
    .desktop-threeitems-description .item2,
    .desktop-threeitems-description .item3 {
        margin-bottom: 0px;
        padding: 20px 20px;
    }
    
    .desktop-threeitems-description h1 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        text-align: left;
        color: white;
    }

    .desktop-threeitems-description p {
        font-size: 0.9rem;
        line-height: 1.6;
        text-align: left;
        margin-bottom: 0px;
    }

    .threeitems-description img {
        width: 30px;
        height: auto;
        border-radius: 6px;
        padding: 6px 6px;
    }
}