#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

#about h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

#about p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 900px;
    color: white;
    opacity: 0.8;
}