.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(20px, 1vw, 40px);
    top: 0;
    z-index: 100;
    padding-top: 70px; 
}

.title .desktop-title h1 {
    display: block;
    font-size: 3.6rem;
    font-weight: bold;
    background: linear-gradient(
        204deg,
        rgba(20, 56, 30, 1) 1%,
        rgba(55, 130, 84, 1) 40%,
        rgba(83, 237, 178, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    height: 140px;
    color: transparent;
    flex-shrink: 0;
    max-width: fit-content;
    line-height: 65px;
    order: 1;
}

.title .media-title h1 {
    display: none;
}

.tablet-text {
    display: none;
}

.mobile-text {
    display: none; 
}

.logo2 {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}

.logo2 img {
    margin-top: 0px;
    width: 350px;
    margin-right: -40px;
    margin-left: 60px;
}

.desktop-title .desktop-text {
    margin-top: -30px;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 35px;
    position: relative;
    display: flex;
    align-items: flex-start;
    top: 0;
    z-index: 100;
    background: none; 
    -webkit-background-clip: initial; 
    -webkit-text-fill-color: rgba(214, 214, 214, 0.7); 
    background-clip: initial; 
}

.media-title .description {
    color: rgba(214, 214, 214, 0.7);
}

.media-title .media-buttons {
    display: none;
}

.desktop-buttons {
    display: flex;
    gap: 15px; 
    margin-top: 40px;
    position: relative; 
    text-decoration: none;
}

.desktop-buttons > a:link {
    text-decoration: none;
}

.desktop-buttons .get-started {
    text-decoration: none;
    border: 2px solid rgba(55, 130, 84, 1);
    padding: 13px 33px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 550;
    background-color: rgba(55, 130, 84, 1);
    transition: all 0.3s ease-in-out;
}

.get-started:hover {
    background-color: rgb(69, 164, 106);
    box-shadow: 0 1px 8px rgba(69, 164, 106, 0.6);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.desktop-buttons a .tutorial-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 13px 33px;
  border: 1px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.864);
  box-shadow: 0 0 0 2px rgba(171, 171, 171, 0.959);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.desktop-buttons a .tutorial-button svg {
    display: flex;
  position: absolute;
  width: 24px;
  fill: rgba(255, 255, 255, 0.864);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.desktop-buttons a .tutorial-button .arr-1 {
  right: 16px;
}

.desktop-buttons a .tutorial-button .arr-2 {
  left: -25%;
}

.desktop-buttons a .tutorial-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.864);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.desktop-buttons a .tutorial-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.desktop-buttons a .tutorial-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.desktop-buttons a .tutorial-button:hover .arr-1 {
  right: -25%;
}

.desktop-buttons a .tutorial-button:hover .arr-2 {
  left: 16px;
}

.desktop-buttons a .tutorial-button:hover .text {
  transform: translateX(12px);
}

.desktop-buttons a .tutorial-button:hover svg {
  fill: #212121;
}

.desktop-buttons a .tutorial-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.864);
}

.desktop-buttons a .tutorial-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.desktop-buttons .arrow img {
    margin-left: 8px;
    width: 12px;
    height: 12px;
}

@media (max-width: 1250px) {
    .title {
        margin-top: 90px;
        flex-direction: column-reverse; 
        align-items: center;
    }

    .description .mobile-text {
        display: flex;
    }
    
    .logo2 {
        margin-bottom: -40px; 
    }
    
    .logo2 img {
        margin-top: -100px; 
        margin-right: 40px; 
        width: clamp(200px, 30vw, 350px);
        height: auto;
    }

    .title .desktop-title h1 {
        display: none;
    }
    
    .title .media-title h1 {
        margin-top: 0px;
        display: block;
        font-weight: bold;
        background: linear-gradient(
            204deg,
            rgba(20, 56, 30, 1) 1%,
            rgba(55, 130, 84, 1) 40%,
            rgba(83, 237, 178, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-size: calc(1.5rem + 2vw);
        text-align: center; 
        z-index: 10;
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .media-title .description {
        margin-top: -10px;
        font-size: calc(0.7rem + 1vw);
        text-align: center;
        margin-right: calc(20% - 50px);
        margin-left: calc(20% - 50px);
    }
    
    .desktop-title .desktop-text {
        display: none; 
    }

    .desktop-buttons {
        display: none;
    }

    .media-title .media-buttons {
        display: flex;
        gap: 15px; 
        margin-top: 30px;
        position: relative; 
        text-decoration: none;
        justify-content: center;
    }

    .media-buttons > a:link {
        text-decoration: none;
    }

    .media-buttons .get-started {
        text-decoration: none;
        border: 2px solid rgba(55, 130, 84, 1);
        padding-left: calc(1rem + 1vw);
        padding-right: calc(1rem + 1vw);
        padding-top: calc(0.5rem + 0.5vw);
        padding-bottom: calc(0.5rem + 0.5vw);
        font-size: calc(0.5rem + 1vw);
        border-radius: 30px;
        color: white;
        font-weight: 550;
        background-color: rgba(55, 130, 84, 1);
        transition: all 0.3s ease-in-out;
    }

    .media-buttons .get-started:hover {
        background-color: none;
        box-shadow: none;
        text-shadow: none;
    }

    .media-buttons a .tutorial-button {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: calc(1.2rem + 1vw);
        padding-right: calc(1.2rem + 1vw);
        padding-top: calc(0.5rem + 0.5vw);
        padding-bottom: calc(0.5rem + 0.5vw);
        font-size: calc(0.5rem + 1vw);
        border: 1px solid;
        border-color: transparent;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.864);
        box-shadow: 0 0 0 2px rgba(171, 171, 171, 0.959);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .media-buttons a .tutorial-button svg {
        margin-top: 1px;
        display: flex;
        position: absolute;
        width: calc(1rem + 1vw);
        fill: rgba(255, 255, 255, 0.864);
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .media-buttons a .tutorial-button .arr-1 {
        right: calc(10px - 0.2vw);
    }

    .media-buttons a .tutorial-button .arr-2 {
        left: -25%;
    }

    .media-buttons a .tutorial-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }
}