#Dependencies {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -250px;
}

#Dependencies h1 {
    width: 75%;
    margin-top: 90px;
    font-size: 50px;
}

@media (max-width: 800px) {
    #Dependencies h1 {
        font-size: 40px;
    }
}

#Dependencies p {
    margin-top: -10px;
    width: 75%;
    font-size: 20px;
}

#Dependencies .note-wrapper {
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

#Dependencies .note {
    box-sizing: border-box;
    background-color: rgba(85, 85, 85, 0.44);
    padding: 10px 14px;
    border-radius: 8px;
}

#Dependencies .note h2 {
    font-size: 20px;
    width: 100%;
    margin: inherit;
    margin-bottom: 5px;
}

#Dependencies .note p {
    font-size: 16px;
    width: 100%;
    margin: inherit;
}

#Dependencies .required-dependencies {
    width: 75%;
    max-width: auto;
}

#Dependencies .command {
    display: flex;
    position: relative;
    background-color: rgba(63, 63, 63, 0.224);
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: flex-start; /* align left within centered parent */
    text-align: left; /* left-align inner text */
}

#Dependencies code {
    text-wrap: nowrap;
    left: 0;
    font-family: monospace;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.858);
    margin-right: 40px;
}

#Dependencies .sh {
    position: absolute;
    right: 6px;
    font-size: 10px;
    top: 6px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

#Dependencies .copy img {
    background-color: rgba(85, 85, 85, 0.858);
    padding: 7px 7px;
    width: 24px;
    transform: translateY(-9px);
    opacity: 0.4;
    border-radius: 5px;
}

#Dependencies .copy {
    position: absolute;
    right: 6px;
    opacity: 0;
    transition: opacity 0.3s;
}

#Dependencies .command:hover .sh {
    opacity: 0;
}

#Dependencies .command:hover .copy {
    opacity: 0.6;
}

#Dependencies .command .copy:hover {
    opacity: 1;
    cursor: pointer;
}

#Dependencies .copied-msg {
    opacity: 0.8 !important;
    position: absolute;
    background-color: rgba(85, 85, 85, 0.858);
    right: 45px;
    top: -8px;
    padding: 8px 13px;
    font-weight: 500;
    font-size: 15px;
    opacity: 0.4;
    border-radius: 5px;
    transition-delay: 2s;
}

#Dependencies .last-updated {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 100px;
}

#Dependencies .last-updated p{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    margin-top: -15px;
    font-size: 15px;
}