#License {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -250px;
}

#License h1 {
    min-width: 85%;
    margin-top: 70px;
    font-size: 130px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

#License p {
    margin-top: 0px;
    width: 85%;
    max-width: auto;
    font-size: 20px;
    margin-bottom: 0px;
    opacity: 0.8;
    font-weight: normal;
    margin-bottom: 100px;
}

@media (max-width: 1450px) {
    #License h1 {
        font-size: 100px;
    }
    #License p {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    #License h1 {
        font-size: 80px;
    }
    #License p {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    #License h1 {
        font-size: 60px;
    }
    #License p {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    #License h1 {
        margin-top: 100px;
        font-size: 50px;
    }
    #License p {
        font-size: 0.9rem;
        margin-bottom: 50px;
    }
}