#Privacy {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    margin-bottom: -250px;
}

#Privacy h1 {
    min-width: 85%;
    font-size: 130px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

#Privacy h2 {
    margin-top: 0px;
    width: 85%;
    max-width: auto;
    font-size: 20px;
    margin-bottom: 0px;
    opacity: 0.8;
    font-weight: normal;
    margin-bottom: 100px;
}


@media (max-width: 1450px) {
    #Privacy h1 {
        font-size: 100px;
    }
    #Privacy h2 {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    #Privacy h1 {
        font-size: 80px;
    }
    #Privacy h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    #Privacy h1 {
        font-size: 60px;
    }
    #Privacy h2 {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    #Privacy h1 {
        font-size: 30px;
    }
    #Privacy h2 {
        font-size: 0.9rem;
    }
}