#Contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -250px;
}

#Contact .command-container {
    width: 85%;
    max-width: none; 
    align-self: center; 
    box-sizing: border-box;
}

#Contact h1 {
    min-width: 85%;
    margin-top: 70px;
    font-size: 130px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

#Contact h2 {
    margin-top: 0px;
    width: 85%;
    max-width: auto;
    font-size: 20px;
    margin-bottom: 0px;
    opacity: 0.8;
    font-weight: normal;
}

#Contact h2 .strong {
    font-weight: bold;
    opacity: 1;
}

#Contact h3 {
    min-width: 85%;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 10px;
}

#Contact h4 {
    min-width: 85%;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 10px;
}

#Contact p {
    margin-top: 0px;
    width: 85%;
    max-width: auto;
    font-size: 20px;
    margin-bottom: 0px;
    opacity: 0.8;
}

#Contact .contact-email-text2 {
    margin-top: -40px;
}

#Contact p a {
    opacity: 1;
    font-weight: bold;
    color: white;
}

#Contact a.normal {
    margin: 0;
    text-decoration: underline;
}

#Contact p a:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.386);
}

#Contact ul {
    margin-top: 0px;
    width: 85%;
    max-width: auto;
    font-size: 20px;
    margin-bottom: 0px;
    opacity: 0.8;
}

#Contact .important-text {
    margin-bottom: 200px;
}

@media (max-width: 1450px) {
    #Contact h1 {
        font-size: 100px;
    }
    #Contact h2 {
        font-size: 18px;
    }
    #Contact h3 {
        font-size: 40px;
    }
    #Contact p, ul {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    #Contact h1 {
        font-size: 80px;
    }
    #Contact h2 {
        font-size: 18px;
    }
    #Contact h3 {
        font-size: 40px;
    }
    #Contact p, ul {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    #Contact h1 {
        font-size: 60px;
    }
    #Contact h2 {
        font-size: 18px;
    }
    #Contact h3 {
        font-size: 40px;
    }
    #Contact p, ul {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    #Contact h1 {
        margin-top: 100px;
        font-size: 30px;
    }
    #Contact h2 {
        font-size: 0.9rem;
    }
    #Contact h3 {
        font-size: 1.25rem;
    }
    #Contact h4 {
        font-size: 1.25rem;
    }
    #Contact p, ul {
        font-size: 0.9rem;
    }
    #Contact .important-text {
        margin-bottom: 100px;
    }
}