.footer .website-map .home .home-elements .home-sections {
	display: flex;
	flex-direction: column;
}

.footer .website-map .home .home-elements {
	display: flex;
	gap: 10px;
}

.footer .website-map .about .about-elements .about-sections {
	display: flex;
	flex-direction: column;
}

.footer .website-map .about .about-elements {
	display: flex;
	gap: 10px;
}

.footer .website-map .schedules .schedules-elements .schedules-sections1 {
	display: flex;
	flex-direction: column;
}

.footer .website-map .schedules .schedules-elements .schedules-sections2 {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

.footer .website-map .schedules .schedules-elements a[alt="unavailable"] {
	color: rgba(103, 103, 103, 0.394);
	pointer-events: none;
	cursor: default;
	text-decoration: none;
}

.footer .website-map .schedules .schedules-elements {
	display: flex;
	gap: 10px;
}

.footer .separator {
	border-left: solid 3px rgba(161, 161, 161, 0.123);
	height: 128px;
	border-radius: 1px;
}

.footer .footer-title {
	display: flex;
	align-items: center;
	gap: 2vw;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: -32px;
}

@media (max-width: 2200px) {
	.footer .footer-title {
		bottom: -28px;
	}
}


.footer .footer-title img {
	height: 11vw;
	min-height: 50px;
	max-height: 250px;
	margin-right: 0;
	transform: translateY(-24px);
}

.footer .footer-title h1 {
	color: white;
	letter-spacing: -0.07em;
	font-size: clamp(5rem, 10vw, 15rem);
	font-weight: 500;
	margin: 0;
	display: block;
}

.footer .website-map {
	display: flex;
	top: 0;
	justify-content: space-between;
}

.footer .buttons img {
	height: 10px;
}

.footer .more .more-elements .more-sections {
	display: flex;
	flex-direction: column;
}

.footer .more .more-elements {
	display: flex;
	gap: 10px;
}

.footer .separator2 {
	border-left: solid 3px rgba(161, 161, 161, 0.123);
	height: 370px;
	border-radius: 1px;
}

.footer {
	position: relative;
	margin-top: 200px;
	display: flex;
	height: 550px;
    background-color: rgba(0, 0, 0, 0.2);
}

.column2 {
	position: absolute;
	right: 200px;
	bottom: 50px;
}

.column1 {
	position: absolute;
	left: 50px;
	bottom: 0;
	width: 60%;
	height: 449px;
}

.footer a[alt="title"] {
	font-size: 14px;
	color: rgb(161, 161, 161);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	display: flex;
	margin-bottom: 10px;
}

.footer a[alt="normal"] {
	font-size: 20px;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	display: flex;
	margin-bottom: 5px;
}

.footer a[alt="unavailable"] {
	font-size: 20px;
	text-decoration: none;
	display: flex;
	margin-bottom: 5px;
}

.footer a[alt="sections2"] {
	font-size: 14px;
	color: rgb(161, 161, 161);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	margin-bottom: 15px;
}

.footer a[alt="signature"] {
	font-size: 14px;
	color: rgb(218, 218, 218);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	margin-top: 35px;
}

.footer a[alt="title"]:hover {
	filter: drop-shadow(0 0 5px rgb(109, 109, 109));
}

.footer a[alt="normal"]:hover {
	filter: drop-shadow(0 0 5px rgb(109, 109, 109));
}

.footer a[alt="sections2"]:hover {
	filter: drop-shadow(0 0 5px rgb(109, 109, 109));
}

.footer .buttons {
    display: flex;
    gap: 16px; 
    margin-top: 30px;
	margin-bottom: 30px;
    background: none; 
    -webkit-background-clip: initial; 
    -webkit-text-fill-color: white; 
    background-clip: initial;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.footer .buttons .github {
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.865);
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    transition: all 0.3s;
    z-index: 1;
    position: relative; 
    overflow: hidden;
    background-color: transparent;
	transform: translateX(-28px);
	margin-left: -40px;
}

.footer .buttons .github:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 33px;
    z-index: -2;
}

.footer .buttons .github:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.865);
    border-radius: 33px;
    z-index: -1;
    transition: all 0.3s;
}

.footer .buttons .github:hover {
	color: black;
	-webkit-text-fill-color: black;
	text-shadow: none;
	box-shadow: 0 1px 8px rgba(97, 97, 97, 0.7);
}

.footer .buttons .github:hover:before {
    width: 100%;
}

.footer .buttons .get-started {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.865);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s, -webkit-text-fill-color 0.3s;
    -webkit-text-fill-color: black;
    transform: translateX(-8px);
	margin-left: 10px;
}

.footer .buttons .get-started:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.865);
    border-radius: 33px;
    z-index: -1;
    transition: width 0.3s;
}

.footer .buttons .get-started:hover {
    color: white;
    -webkit-text-fill-color: white;
    box-shadow: 0 1px 8px rgba(97, 97, 97, 0.7);
}

.footer .buttons .get-started:hover:before {
    width: 0%;
}

@media (max-width: 2100px) {
	.footer .footer-title {
		bottom: -10px;
	}

	.footer .footer-title img {
		height: 11vw;
		min-height: 50px;
		max-height: 250px;
		margin-right: 0;
		transform: translateY(-24px);
	}

	.footer .footer-title h1 {
		color: white;
		letter-spacing: -0.07em;
		font-size: 10.5vw;
		font-weight: 500;
		margin: 0;
		display: block;
	}
}


@media (max-width: 1650px) {
	.footer .footer-title {
		bottom: 5px;
	}

	.footer .footer-title img {
		height: 10vw;
		min-height: 50px;
		max-height: 250px;
		margin-right: 0;
		transform: translateY(-24px);
	}

	.footer .footer-title h1 {
		color: white;
		letter-spacing: -0.07em;
		font-size: 9vw;
		font-weight: 500;
		margin: 0;
		display: block;
	}

	.column1 {
		width: 55%;
	}
}

@media (max-width: 1350px) {
	.footer .footer-title {
		bottom: 15px;
	}

	.footer .footer-title img {
		height: 10vw;
		min-height: 50px;
		max-height: 250px;
		margin-right: 0;
		transform: translateY(-24px);
	}

	.footer .footer-title h1 {
		color: white;
		letter-spacing: -0.07em;
		font-size: 8vw;
		font-weight: 500;
		margin: 0;
		display: block;
	}

	.column1 {
		width: 55%;
	}
}

@media (max-width: 1300px) {
	.column1 {
		height: 332px;
	}
	.footer {
		height: 430px;
	}

	.footer .separator {
		height: 105px;
	}

	.footer .footer-title {
		bottom: 10px;
	}

	.footer .footer-title img {
		height: 10vw;
		min-height: 50px;
		max-height: 250px;
		margin-right: 0;
		transform: translateY(-24px);
	}

	.footer .footer-title h1 {
		color: white;
		letter-spacing: -0.07em;
		font-size: 9vw;
		font-weight: 500;
		margin: 0;
		display: block;
	}

	.column1 {
		width: 48%;
	}

	.footer a[alt="title"] {
		font-size: 10px;
		margin-bottom: 10px;
	}

	.footer a[alt="normal"] {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.footer a[alt="unavailable"] {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.footer a[alt="sections2"] {
		font-size: 10px;
		margin-bottom: 8px;
	}

	.footer a[alt="signature"] {
		font-size: 10px;
		margin-top: 25px;
	}

	.footer .buttons {
		margin-top: 10px;
		gap: 10px;
		margin-bottom: 20px;
	}

	.footer .buttons .github {
		margin-left: -30px;
		font-size: 14px;
		padding: 8px 20px;
	}

	.footer .buttons .get-started {
		font-size: 14px;
		padding: 8px 20px;
	}

	.footer .website-map .schedules .schedules-elements .schedules-sections2 {
		margin-left: 5px;
	}

	.footer .separator2 {
		height: 260px;
	}
}

@media(max-width: 1200px) {
	.footer .footer-title {
		bottom: 18px;
		gap: 1vw;
	}

	.footer .footer-title img {
		height: 9vw;
		min-height: 50px;
		max-height: 250px;
		margin-right: 0;
		transform: translateY(-10px);
	}

	.footer .footer-title h1 {
		color: white;
		letter-spacing: -0.07em;
		font-size: 8vw;
		font-weight: 500;
		margin: 0;
		display: block;
	}
}

@media (max-width: 1100px) {
	.footer .column2 {
		right: 50px;
	}
	.column1 {
		width: 55%;
	}
	.footer .footer-title {
		bottom: 20px;
	}

	.footer .footer-title img {
		height: 9vw;
		min-height: 50px;
		max-height: 250px;
		margin-right: 0;
		transform: translateY(-10px);
	}

	.footer .footer-title h1 {
		color: white;
		letter-spacing: -0.07em;
		font-size: 9vw;
		font-weight: 500;
		margin: 0;
		display: block;
	}
}

@media (max-width: 800px) {
	.footer {
		flex-direction: column;
		height: auto;
		padding: 30px 0;
		align-items: center;
		text-align: center;
		gap: 20px;
	}
	.column1 {
		position: static;
		width: 90%;
	}
	.column2 {
		position: static;
		width: 90%;
	}
	.footer .footer-title {
		justify-content: center;
	}
	.footer .buttons {
		margin-top: 40px;
		margin-bottom: 40px;
		flex-direction: row;
		justify-content: center;
		margin-left: 0;
		transform: translateX(0);
		gap: 20px;
	}
	.footer .buttons .github {
		transform: translateX(0);
		margin-left: 0;
	}
	.footer .buttons .get-started {
		transform: translateX(0);
		margin-left: 0;
	}
	.footer .website-map {
		flex-direction: column;
		gap: 30px;
		margin-bottom: 30px;
	}
	.footer .separator, .footer .separator2 {
		border-top: solid 2px rgba(161, 161, 161, 0.123);
		border-radius: 1px;
		border-left: none;
		width: 60%;
		height: 0px;
	}
	.footer .website-map .home .home-elements {
		display: flex;
		flex-direction: column;
	}
	.footer .website-map .about .about-elements {
		display: flex;
		flex-direction: column;
	}
	.footer .website-map .schedules .schedules-elements {
		display: flex;
		flex-direction: column;
	}
	.footer .column2 .more .more-elements {
		display: flex;
		flex-direction: column;
	}

	.footer .footer-title {
		flex-direction: column;
		align-items: center;
		position: absolute;
		bottom: auto;
		margin-top: -35px;
	}

	.footer .footer-title img {
		height: auto;
		width: 80px;
	}

	.footer .footer-title h1 {
		margin-top: -25px;
		font-size: 3.5rem;
	}

	.footer .website-map .schedules .schedules-elements .schedules-sections2 {
		margin-top: -10px;
		margin-left: 0px;
	}

	.footer a[alt="sections2"] {
		font-size: 14px;
		margin-bottom: 15px;
	}

	.footer a[alt="signature"] {
		margin-top: 30px;
		font-size: 14px;
	}
	.footer .more {
		margin-top: 370px;
	}

}