html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-image: linear-gradient(
      30deg,
    rgba(13, 17, 23, 1) 0%,
    rgba(25, 41, 40, 1) 30%, 
    rgba(25, 41, 40, 1) 40%, 
    rgba(13, 17, 23, 1) 75%,
    rgba(13, 17, 23, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  overflow-x: hidden;
}

button, input, select, textarea {
  font: inherit;
}

html {
  scrollbar-width: thin;              
  scrollbar-color: #7c7c7c84 transparent;   
}

@media (max-width: 1250px) {
  .mobile-container {
    padding-right: 10px;
    padding-left: 10px;
  }
}