html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-image: radial-gradient(circle at 20% 120%, #192928, #192928, #172526, #11191e, #0e1318, #0d1117, #0d1117, #0e1318, #11191e, #172526, #192928, #192928);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  overflow-x: hidden;
}

button, input, select, textarea {
  font: inherit;
}

html {
  scrollbar-width: thin;              
  scrollbar-color: #7c7c7c84 transparent;   
}

@media (max-width: 1250px) {
  .mobile-container {
    padding-right: 10px;
    padding-left: 10px;
  }
}