.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.logo img {
    height: 42px;
    margin-right: 5px;
    width: auto;
}

.decrypt-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}

.decrypt-text .color {
    color: green;
}

.encrypted-char {
    color: #888;
    transition:  color 0.2s;
}

@media(max-width: 1000px) {
    #topbar .logo {
        position: absolute;
        top: 12px;
        left: 4vw;
        transform: none; 
    }
    #topbar .logo img {
        margin-top: 0px;
    }

    #topbar .logo .decrypt-text {
        margin-top: -6px;
    }
}